<!-- your_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>登録index</title>
</head>
<body>
    <h1>登録index</h1>
    <a href="{% url 'price_list' %}">単価リストへ</a>
    <a href="{% url 'request_update_price_list' %}">登録画面へ</a>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>作成日</th>
          <th>コード</th>
          <th>枝番</th>
          <th>品名</th>
          <th>登録単価</th>
          <th>詳細</th>
          <th>単価リストに反映</th>
        </tr>
      </thead>
      <tbody>
        {% for history in history_list %}
          <tr>
            <td>{{ history.id }}</td>
            <td>{{ history.created_at | date:'Y/m/d' }}</td>
            <td>{{ history.code }}</td>
            <td>{{ history.branch }}</td>
            <td>{{ history.product_name }}</td>
            <td>{{ history.unit_price }}</td>
            <td><a href="{% url 'detail_view' id=history.id %}">Details</a></td>
            <td><button class="update-btn" data-id="{{ history.id }}">単価リストに反映</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    // ボタンがクリックされたときの処理
    $('.update-btn').click(function() {
      var id = $(this).data('id'); // data属性をidに変更する

      // Ajaxを使用してupdate_price_list関数を呼び出す
      $.ajax({
        type: 'POST',
        url: '/pricelist/update_price_list/',  // 正しいURLに変更する
        data: {
          'id': id, // 'code'ではなく'id'を渡す
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
      });
    });
  });
</script>
